<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="table header">
<div class="table-cell categories"><h1>Catalog App</h1></div>
<div class="table-cell items right">
 {% if loggedIn %}
	<a class="login" href="{{url_for('logout')}}">Logout</a>
 {% else %}
        <a class="login" href="{{url_for('showLoginPage')}}">Login</a>
 {% endif %} 
</div>
</div>
<h1> Delete Item </h1>
{% if error %}
	<h3>{{error}}</h3>
{% endif %}

<div>Are you sure you want to delete {{item.name}}?</div>

<form action="{{ url_for('deleteItem', item_title=item.name)}}" method = 'post'>

<input type='submit', value = 'Delete'>




</form>

<a href = "{{ url_for('showCategoryItems', category_title=item.category.name)}}"> Cancel </a>
</body>

</html>

</body>

</html>