<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="table header">
<div class="table-cell categories"><h1>Catalog App</h1></div>
<div class="table-cell items right">
 {% if loggedIn %}
	<a class="login" href="{{url_for('logout')}}">Logout</a>
 {% else %}
        <a class="login" href="{{url_for('showLoginPage')}}">Login</a>
 {% endif %} 
</div>
</div>

<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="item content">
  <h1>{{item.name}}</h1>
  <div class="description">{{item.description}}</div> 
  {% if loggedIn %}
<div>
	<a href="{{url_for('editItem',item_title=item.name)}}">Edit</a>
	<span> | </span>
	<a href="{{url_for('deleteItem',item_title=item.name)}}">Delete</a>
</div>
{% endif %}	
</div>

</body>

</html>